# 2주차 예상문제 1

데이터 출처 :https://www.data.go.kr/data/15007122/fileData.do (참고, 데이터 수정)

데이터 설명 : 2018년도 성인의 건강검진 데이터로부터 흡연상태 예측 (흡연상태 1- 흡연, 0-비흡연 )

문제타입 : 분류유형

평가지표 : f1-score

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/test.csv

subData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/submission.csv

출처 :  2주차 예상문제 1 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 조교

In [1]:
import pandas as pd

train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/test.csv")
submission = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/submission.csv", index_col=0)

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   성별코드         44553 non-null  object
 1   연령대코드(5세단위)  44553 non-null  int64
 2   신장(5Cm단위)    44553 non-null  int64
 3   체중(5Kg단위)    44553 non-null  int64
 4   허리둘레         44553 non-null  float64
 5   시력(좌)        44553 non-null  float64
 6   시력(우)        44553 non-null  float64
 7   청력(좌)        44553 non-null  float64
 8   청력(우)        44553 non-null  float64
 9   수축기혈압        44553 non-null  float64
 10  이완기혈압        44553 non-null  float64
 11  식전혈당(공복혈당)   44553 non-null  float64
 12  총콜레스테롤       44553 non-null  float64
 13  트리글리세라이드     44553 non-null  float64
 14  HDL콜레스테롤     44553 non-null  float64
 15  LDL콜레스테롤     44553 non-null  float64
 16  혈색소          44553 non-null  float64
 17  요단백          44553 non-null  float64
 18  혈청크레아티닌      44553 non-null  float64
 19  (혈청지오티)AST   44553 non-null  float64
 20  (혈청지오티)ALT   44553 non-null  float64
 21  감마지티피        44553 non-null  float64
 22  흡연상태         44553 non-null  int64
 23  구강검진수검여부     44553 non-null  object
 24  치아우식증유무      44553 non-null  float64
 25  치석           44553 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 8.8+ MB

In [3]:
train.describe().columns

Index(['연령대코드(5세단위)', '신장(5Cm단위)', '체중(5Kg단위)', '허리둘레', '시력(좌)', '시력(우)',
       '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드',
       'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST',
       '(혈청지오티)ALT', '감마지티피', '흡연상태', '치아우식증유무'],
      dtype='object')

In [4]:
train.columns

Index(['성별코드', '연령대코드(5세단위)', '신장(5Cm단위)', '체중(5Kg단위)', '허리둘레', '시력(좌)',
       '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤',
       '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌',
       '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태', '구강검진수검여부', '치아우식증유무',
       '치석'],
      dtype='object')

In [5]:
len(train.columns)

26

## 전처리

In [6]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier

In [7]:
train = train.drop(['성별코드', '연령대코드(5세단위)', '구강검진수검여부'], axis=1)

In [8]:
train = pd.get_dummies(train)

In [9]:
X = train.drop(['흡연상태'], axis=1)
y = train['흡연상태']

## 데이터 분리

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, stratify = y)

## 모델 학습

In [11]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

## 모델 평가

In [12]:
from sklearn.metrics import f1_score

In [13]:
f1_score(y_test, y_pred)

0.6491428571428571

## 제출

In [14]:
test = test.drop(['성별코드', '연령대코드(5세단위)', '구강검진수검여부'], axis=1)
test = pd.get_dummies(test)

In [15]:
submission[0] = model.predict(test)

In [16]:
submission.to_csv("submission_2주차_1.csv", index=False)

# 2주차 예상문제 2

데이터 출처 :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction

 (참고, 데이터 수정)

데이터 설명 : 자동차 보험 가입 예측

문제타입 : 분류유형

평가지표 : f1-score

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/test.csv

subData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/submission.csv

출처 : 2주차 예상문제 2 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 조교

In [17]:
import pandas as pd

train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/test.csv")
submission = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/submission.csv", index_col=0)

In [18]:
train

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0
...,...,...,...,...,...,...,...,...,...,...,...,...
304882,351529,Male,75,1,33.0,0,1-2 Year,Yes,32412.0,26.0,296,1
304883,287917,Male,57,1,28.0,1,1-2 Year,No,44602.0,52.0,135,0
304884,21023,Female,40,1,35.0,0,1-2 Year,Yes,38779.0,26.0,293,0
304885,67340,Male,24,1,41.0,0,< 1 Year,Yes,26669.0,152.0,29,0
304886,127164,Female,22,1,50.0,1,< 1 Year,No,35063.0,152.0,184,0

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304887 entries, 0 to 304886
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    304887 non-null  int64
 1   Gender                304887 non-null  object
 2   Age                   304887 non-null  int64
 3   Driving_License       304887 non-null  int64
 4   Region_Code           304887 non-null  float64
 5   Previously_Insured    304887 non-null  int64
 6   Vehicle_Age           304887 non-null  object
 7   Vehicle_Damage        304887 non-null  object
 8   Annual_Premium        304887 non-null  float64
 9   Policy_Sales_Channel  304887 non-null  float64
 10  Vintage               304887 non-null  int64
 11  Response              304887 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 27.9+ MB

In [20]:
train['Vehicle_Age'].value_counts()

1-2 Year     160409
< 1 Year     131696
> 2 Years     12782
Name: Vehicle_Age, dtype: int64

In [21]:
train.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000,304887.000000
mean,190603.266174,38.828304,0.997898,26.382650,0.458258,30576.579598,112.044954,154.319466,0.122563
std,110023.298778,15.504898,0.045804,13.236626,0.498255,17265.678980,54.198329,83.625500,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95239.500000,25.000000,1.000000,15.000000,0.000000,24414.500000,29.000000,82.000000,0.000000
50%,190666.000000,36.000000,1.000000,28.000000,0.000000,31663.000000,133.000000,154.000000,0.000000
75%,285948.500000,49.000000,1.000000,35.000000,1.000000,39410.000000,152.000000,227.000000,0.000000
max,381108.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

## 전처리

In [22]:
train = pd.get_dummies(train)

X = train.drop(['Response'], axis=1)
y = train['Response']

## 데이터 분리

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y)

## 모델 학습

In [24]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

## 모델 평가

In [25]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

0.12884774591706177

## 제출

In [26]:
test = pd.get_dummies(test)
submission[0] = model.predict(test)
submission.to_csv('submission_2주차_2.csv', index=False)