# 6주차 예상문제 1

데이터 출처 :https://www.kaggle.com/mohansacharya/graduate-admissions(참고, 데이터 수정)

데이터 설명 : 대학원 입학 가능성 예측문제 ("Chance of Admit')

평가지표 : r2 score

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/test.csv
                          
출처 : 6주차 예상문제 1 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [1]:
import pandas as pd

train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/test.csv")

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [3]:
train.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,250.090000,316.222500,107.147500,3.087500,3.375000,3.486250,8.560250,0.555000,0.719225
std,146.736741,11.596732,6.040859,1.145917,0.981981,0.943484,0.612829,0.497588,0.142245
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,117.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.120000,0.000000,0.630000
50%,249.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.560000,1.000000,0.720000
75%,384.250000,324.250000,111.000000,4.000000,4.000000,4.000000,9.040000,1.000000,0.820000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

## 데이터 분리

In [4]:
X = train.drop(['Chance of Admit'], axis=1)
y = train['Chance of Admit']

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## 모델 학습

In [6]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

## 모델 평가

In [7]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.8531872746683601

In [8]:
model.score(X_test, y_test)

0.8531872746683601

## 테스트

In [9]:
submission = pd.DataFrame(model.predict(test))

In [10]:
submission.to_csv("submission_6주차_1.csv", index="False", header=False)

---------

# 6주차 예상문제 2

데이터 출처 :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(참고, 데이터 수정)

데이터 설명 : 레드 와인 퀄리티 예측문제

평가지표 : r2 score

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/test.csv

출처 : 6주차 예상문제 2 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [11]:
import pandas as pd

train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/test.csv")

In [12]:
train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1274,8.8,0.61,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,5
1275,8.0,0.59,0.16,1.8,0.065,3.0,16.0,0.99620,3.42,0.92,10.5,7
1276,10.0,0.35,0.45,2.5,0.092,20.0,88.0,0.99918,3.15,0.43,9.4,5
1277,8.0,1.18,0.21,1.9,0.083,14.0,41.0,0.99532,3.34,0.47,10.5,5
1278,8.6,0.47,0.30,3.0,0.076,30.0,135.0,0.99760,3.30,0.53,9.4,5

## 데이터 분리

In [13]:
from sklearn.model_selection import train_test_split

X = train.drop(['quality'], axis=1)
y = train['quality']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

## 모델 학습

In [15]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

## 모델 평가

In [16]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.459733870967742

In [17]:
from sklearn.metrics import r2_score
model.score(X_test, y_test)

0.459733870967742

## 테스트

In [18]:
submission = pd.DataFrame(model.predict(test))

In [19]:
submission.to_csv("submission_6주차_2.csv", index="False", header=False)