# 7주차 예상문제 1

데이터 출처 :https://www.kaggle.com/prathamtripathi/drug-classification(참고, 데이터 수정)

데이터 설명 : 투약하는 약을 분류

평가지표 : accuracy

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/test.csv

출처 : 7주차 예상문제 1 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [1]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/test.csv")

In [2]:
train

     Age Sex      BP Cholesterol  Na_to_K  Drug
0     20   F  NORMAL      NORMAL    9.281     4
1     24   M    HIGH      NORMAL    9.475     1
2     34   M  NORMAL        HIGH   22.456     0
3     17   M  NORMAL      NORMAL   10.832     4
4     72   M     LOW        HIGH   16.310     0
..   ...  ..     ...         ...      ...   ...
152   58   F     LOW        HIGH   26.645     0
153   30   F  NORMAL        HIGH   10.443     4
154   20   F     LOW      NORMAL   11.686     4
155   58   M    HIGH        HIGH   18.991     0
156   16   M     LOW        HIGH   12.006     3

[157 rows x 6 columns]

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          157 non-null    int64
 1   Sex          157 non-null    object
 2   BP           157 non-null    object
 3   Cholesterol  157 non-null    object
 4   Na_to_K      157 non-null    float64
 5   Drug         157 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 7.5+ KB

In [4]:
train.describe()

              Age     Na_to_K        Drug
count  157.000000  157.000000  157.000000
mean    44.133758   15.904102    1.592357
std     16.495957    6.951104    1.724467
min     15.000000    6.269000    0.000000
25%     32.000000   10.443000    0.000000
50%     43.000000   13.884000    1.000000
75%     58.000000   19.368000    4.000000
max     74.000000   37.188000    4.000000

## 데이터 분리

In [5]:
from sklearn.model_selection import train_test_split

X = train.drop(['Drug'], axis=1)
y = train['Drug']

X = pd.get_dummies(X)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## 모델 학습

In [7]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# 모델 평가

In [8]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0

In [9]:
model.score(X_test, y_test)

1.0

## 테스트

In [10]:
test = pd.get_dummies(test)

In [11]:
submission = pd.DataFrame(model.predict(test))
submission.to_csv("submission_7주차_1.csv", index=False, header=False)

------

# 7주차 예상문제 2

데이터 출처 :https://www.kaggle.com/sid321axn/audit-data(참고, 데이터 수정)

데이터 설명 : 사기회사 분류

평가지표 : f1_scoe

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/test.csv

출처 : 7주차 예상문제 2 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [12]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/test.csv")

In [13]:
train

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,1.85,19,4.04,0.6,2.424,0.00,0.2,0.000,4.04,5.0,...,1.2,0,0.2,0.0,2.8,4.782,1.2,0.5,2.8692,1
616,3.89,37,4.18,0.6,2.508,4.83,0.2,0.966,9.01,5.5,...,0.4,0,0.2,0.0,3.2,14.492,0.4,0.5,2.8984,1
617,3.89,15,1.00,0.4,0.400,0.00,0.2,0.000,1.00,5.0,...,0.4,0,0.2,0.0,2.2,1.872,0.4,0.5,0.3744,0
618,55.57,6,2.24,0.6,1.344,7.26,0.6,4.356,9.50,5.0,...,0.4,0,0.2,0.0,3.6,7.148,0.4,0.5,1.4296,1
619,55.57,8,2.41,0.6,1.446,4.69,0.6,2.814,7.10,5.0,...,0.4,0,0.2,0.0,3.6,5.710,0.4,0.5,1.1420,1

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sector_score    620 non-null    float64
 1   LOCATION_ID     620 non-null    object
 2   PARA_A          620 non-null    float64
 3   Score_A         620 non-null    float64
 4   Risk_A          620 non-null    float64
 5   PARA_B          620 non-null    float64
 6   Score_B         620 non-null    float64
 7   Risk_B          620 non-null    float64
 8   TOTAL           620 non-null    float64
 9   numbers         620 non-null    float64
 10  Score_B.1       620 non-null    float64
 11  Risk_C          620 non-null    float64
 12  Money_Value     619 non-null    float64
 13  Score_MV        620 non-null    float64
 14  Risk_D          620 non-null    float64
 15  District_Loss   620 non-null    int64
 16  PROB            620 non-null    float64
 17  RiSk_E          620 non-null    float64
 18  History         620 non-null    int64
 19  Prob            620 non-null    float64
 20  Risk_F          620 non-null    float64
 21  Score           620 non-null    float64
 22  Inherent_Risk   620 non-null    float64
 23  CONTROL_RISK    620 non-null    float64
 24  Detection_Risk  620 non-null    float64
 25  Audit_Risk      620 non-null    float64
 26  Risk            620 non-null    int64
dtypes: float64(23), int64(3), object(1)
memory usage: 130.9+ KB

In [15]:
train.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,...,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.0,620.000000,620.000000
mean,20.224935,2.401807,0.351935,1.321268,10.763244,0.311613,6.304587,13.158680,5.062097,0.222581,...,0.522581,0.101613,0.215484,0.052581,2.693548,17.309808,0.575161,0.5,6.928064,0.393548
std,24.340628,5.154508,0.173381,3.127832,54.679159,0.169177,32.828708,55.826458,0.228641,0.078802,...,0.293725,0.554899,0.065447,0.321562,0.853553,56.772899,0.456399,0.0,41.144710,0.488931
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.210000,0.200000,0.042000,0.000000,0.200000,0.000000,0.515000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.581000,0.400000,0.5,0.316200,0.000000
50%,3.890000,0.900000,0.200000,0.180000,0.395000,0.200000,0.079000,1.420000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.200000,2.207000,0.400000,0.5,0.512000,0.000000
75%,55.570000,2.460000,0.600000,1.476000,4.170000,0.400000,1.995000,7.767500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,3.200000,10.076000,0.400000,0.5,2.959500,1.000000
max,59.850000,71.480000,0.600000,42.888000,1264.630000,0.600000,758.778000,1268.910000,6.500000,0.600000,...,2.400000,9.000000,0.600000,5.400000,5.200000,801.262000,5.800000,0.5,961.514400,1.000000

## 데이터 전처리 및 분리

In [16]:
train = train.dropna()

In [17]:
from sklearn.model_selection import train_test_split

X = train.drop(['LOCATION_ID', 'Risk'], axis=1)
y = train['Risk']

X = pd.get_dummies(X)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## 모델 학습

In [19]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# 모델 평가

In [20]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

1.0

In [21]:
model.score(X_test, y_test)

1.0

In [22]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)

1.0

## 테스트

In [23]:
test = test.dropna()
test = test.drop(['LOCATION_ID'], axis=1)
test = pd.get_dummies(test)

In [24]:
submission = pd.DataFrame(model.predict(test))
submission.to_csv("submission_7주차_2.csv", index=False, header=False)