# 8주차 예상문제 1

데이터 출처 :https://www.kaggle.com/kyr7plus/emg-4(참고, 데이터 수정)

데이터 설명 : 센서데이터로 동작 유형 분류

평가지표 : f1_scoe

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/test.csv

출처 : 8주차 예상문제 1 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [1]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/test.csv")

In [2]:
train

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4645,40.0,-8.0,-14.0,-27.0,10.0,12.0,-35.0,12.0,-21.0,1.0,...,84.0,-1.0,2.0,-1.0,-1.0,-9.0,-21.0,-95.0,-90.0,0
4646,-35.0,-4.0,-6.0,0.0,-4.0,-11.0,-24.0,-27.0,46.0,12.0,...,-2.0,-2.0,-1.0,-3.0,2.0,5.0,36.0,51.0,6.0,0
4647,-34.0,-17.0,-4.0,10.0,14.0,-22.0,-6.0,-24.0,-17.0,26.0,...,-8.0,-23.0,-26.0,-6.0,-4.0,10.0,-13.0,-33.0,-14.0,0
4648,21.0,3.0,0.0,-15.0,5.0,2.0,48.0,22.0,-22.0,2.0,...,-7.0,-2.0,3.0,-4.0,-25.0,12.0,0.0,10.0,-33.0,0
4649,3.0,31.0,0.0,-6.0,-16.0,2.0,-38.0,-35.0,-19.0,-17.0,...,9.0,-3.0,-10.0,-9.0,14.0,-1.0,-1.0,-31.0,-18.0,0

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4650 entries, 0 to 4649
Data columns (total 65 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   motion_0   4650 non-null   float64
 1   motion_1   4650 non-null   float64
 2   motion_2   4650 non-null   float64
 3   motion_3   4650 non-null   float64
 4   motion_4   4650 non-null   float64
 5   motion_5   4650 non-null   float64
 6   motion_6   4650 non-null   float64
 7   motion_7   4650 non-null   float64
 8   motion_8   4650 non-null   float64
 9   motion_9   4650 non-null   float64
 10  motion_10  4650 non-null   float64
 11  motion_11  4650 non-null   float64
 12  motion_12  4650 non-null   float64
 13  motion_13  4650 non-null   float64
 14  motion_14  4650 non-null   float64
 15  motion_15  4650 non-null   float64
 16  motion_16  4650 non-null   float64
 17  motion_17  4650 non-null   float64
 18  motion_18  4650 non-null   float64
 19  motion_19  4650 non-null   float64
 20  motion_20  4650 non-null   float64
 21  motion_21  4650 non-null   float64
 22  motion_22  4650 non-null   float64
 23  motion_23  4650 non-null   float64
 24  motion_24  4650 non-null   float64
 25  motion_25  4650 non-null   float64
 26  motion_26  4650 non-null   float64
 27  motion_27  4650 non-null   float64
 28  motion_28  4650 non-null   float64
 29  motion_29  4650 non-null   float64
 30  motion_30  4650 non-null   float64
 31  motion_31  4650 non-null   float64
 32  motion_32  4650 non-null   float64
 33  motion_33  4650 non-null   float64
 34  motion_34  4650 non-null   float64
 35  motion_35  4650 non-null   float64
 36  motion_36  4650 non-null   float64
 37  motion_37  4650 non-null   float64
 38  motion_38  4650 non-null   float64
 39  motion_39  4650 non-null   float64
 40  motion_40  4650 non-null   float64
 41  motion_41  4650 non-null   float64
 42  motion_42  4650 non-null   float64
 43  motion_43  4650 non-null   float64
 44  motion_44  4650 non-null   float64
 45  motion_45  4650 non-null   float64
 46  motion_46  4650 non-null   float64
 47  motion_47  4650 non-null   float64
 48  motion_48  4650 non-null   float64
 49  motion_49  4650 non-null   float64
 50  motion_50  4650 non-null   float64
 51  motion_51  4650 non-null   float64
 52  motion_52  4650 non-null   float64
 53  motion_53  4650 non-null   float64
 54  motion_54  4650 non-null   float64
 55  motion_55  4650 non-null   float64
 56  motion_56  4650 non-null   float64
 57  motion_57  4650 non-null   float64
 58  motion_58  4650 non-null   float64
 59  motion_59  4650 non-null   float64
 60  motion_60  4650 non-null   float64
 61  motion_61  4650 non-null   float64
 62  motion_62  4650 non-null   float64
 63  motion_63  4650 non-null   float64
 64  pose       4650 non-null   int64
dtypes: float64(64), int64(1)
memory usage: 2.3 MB

In [4]:
train.describe()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
count,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,...,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000,4650.000000
mean,-0.261720,-0.665806,-0.773118,-0.787527,-0.345376,-0.266452,-1.383226,-0.664946,-0.139785,-0.672688,...,-1.077849,-1.105161,-0.657204,-0.772043,-0.639785,-0.054839,-0.341075,-1.820430,-0.751398,0.499355
std,21.637217,9.004178,4.810937,8.108536,18.286323,20.858478,34.197266,17.697416,21.263171,8.826862,...,17.524489,20.990875,8.969699,4.763189,8.098629,18.562673,20.456560,34.662528,17.713153,0.500053
min,-116.000000,-99.000000,-27.000000,-73.000000,-90.000000,-95.000000,-128.000000,-128.000000,-110.000000,-128.000000,...,-128.000000,-107.000000,-128.000000,-46.000000,-62.000000,-103.000000,-121.000000,-128.000000,-104.000000,0.000000
25%,-11.000000,-3.000000,-3.000000,-4.000000,-10.000000,-11.000000,-6.000000,-8.000000,-11.000000,-3.000000,...,-8.000000,-12.000000,-4.000000,-3.000000,-4.000000,-10.000000,-11.000000,-6.000000,-8.000000,0.000000
50%,-2.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-2.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000
75%,8.000000,2.000000,1.000000,3.000000,10.000000,11.000000,3.000000,6.000000,8.000000,2.000000,...,6.000000,7.000000,2.000000,2.000000,3.000000,10.000000,10.000000,3.000000,6.000000,1.000000
max,111.000000,90.000000,34.000000,43.000000,81.000000,105.000000,127.000000,112.000000,127.000000,106.000000,...,111.000000,127.000000,105.000000,28.000000,51.000000,110.000000,102.000000,127.000000,114.000000,1.000000

## 데이터 분리

In [5]:
from sklearn.model_selection import train_test_split

X = train.drop(['pose'], axis=1)
y = train['pose']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## 모델 학습

In [7]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# 모델 평가

In [8]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

0.9950389794472005

In [9]:
model.score(X_test, y_test)

0.9949820788530466

In [10]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)

0.9950349098265611

## 테스트

In [11]:
submission = pd.DataFrame(model.predict(test))
submission.to_csv("submission_8주차_1.csv", index=False, header=False)

-----

# 8주차 예상문제 2

데이터 출처 :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(참고, 데이터 수정)

데이터 설명 : 현대차 스펙에 따른 가격 예측문제

평가지표 : r2_score

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/test.csv

출처 : 8주차 예상문제 2 (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [12]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/test.csv")

In [13]:
train

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7
...,...,...,...,...,...,...,...,...,...
3883,I10,2016,6500,Manual,16309,Petrol,30,57.6,1.2
3884,Tucson,2018,15999,Semi-Auto,7723,Diesel,145,57.6,1.7
3885,I30,2016,8990,Manual,33466,Diesel,0,78.4,1.6
3886,Ioniq,2019,18990,Automatic,11816,Hybrid,135,78.5,1.6
3887,I10,2017,7998,Manual,19625,Petrol,145,57.7,1.2

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3888 entries, 0 to 3887
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3888 non-null   object
 1   year          3888 non-null   int64
 2   price         3888 non-null   int64
 3   transmission  3888 non-null   object
 4   mileage       3888 non-null   int64
 5   fuelType      3888 non-null   object
 6   tax(£)        3888 non-null   int64
 7   mpg           3888 non-null   float64
 8   engineSize    3888 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 273.5+ KB

In [15]:
train.describe()

,year,price,mileage,tax(£),mpg,engineSize
count,3888.000000,3888.000000,3888.000000,3888.000000,3888.000000,3888.000000
mean,2017.098765,12751.257973,21401.966821,121.378601,53.767361,1.458385
std,1.931292,5878.240687,17792.072867,58.225210,12.598379,0.402209
min,2000.000000,1200.000000,1.000000,0.000000,1.100000,0.000000
25%,2016.000000,8000.000000,8334.750000,125.000000,44.800000,1.200000
50%,2017.000000,11995.000000,17393.000000,145.000000,55.400000,1.600000
75%,2019.000000,15771.750000,30713.500000,145.000000,60.100000,1.700000
max,2020.000000,43995.000000,138000.000000,555.000000,256.800000,2.900000

## 데이터 분리

In [16]:
from sklearn.model_selection import train_test_split

X = train.drop(['price'], axis=1)
y = train['price']

X = pd.get_dummies(X)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## 모델 학습

In [18]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# 모델 평가

In [19]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9552215888313096

In [20]:
model.score(X_test, y_test)

0.9552215888313096

## 테스트

In [21]:
test = pd.get_dummies(test)
submission = pd.DataFrame(model.predict(test))
submission.to_csv("submission_8주차_2.csv", index=False, header=False)