데이터 출처 :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(참고, 데이터 수정)

데이터 설명 : 1930 ~2018년도 월드컵 출전선수 골기록

data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

출처 : 12주차 예상문제 (실기1유형 10문제) (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')

In [2]:
df

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

## Q1.  주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [3]:
df.groupby(['Country']).sum().sort_values(by='Goals', ascending=False)[:5]

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

## Q2. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [4]:
pd.DataFrame(df['Country'].value_counts()).head().rename(columns={'Country': 'Goals'})

           Goals
Brazil        81
Germany       78
Italy         60
Argentina     59
France        58

## Q3. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [5]:
cnt = 0

for i in df['Years'].str.split('-'):
    for j in i:
        if len(j) != 4:
            cnt += 1

In [6]:
cnt

45

## Q4. Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라

In [7]:
temp = []
for idx, datas in enumerate(df['Years'].str.split('-')):
    for data in datas:
        if len(data) == 4:
            temp.append(idx)
            break

In [8]:
df2 = df.iloc[temp]

In [9]:
len(df2)

1250

## Q5. 월드컵 출전횟수를 나타내는 'LenCup' 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [10]:
df2['LenCup'] = df2['Years'].str.split('-').str.len()

<ipython-input-10-49c0cf448ce8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df2['Years'].str.split('-').str.len()

In [11]:
df2

                   Player  Goals                Years     Country  LenCup
0          Miroslav Klose     16  2002-2006-2010-2014     Germany       4
1                 Ronaldo     15       1998-2002-2006      Brazil       3
2             Gerd Muller     14            1970-1974     Germany       2
3           Just Fontaine     13                 1958      France       1
4                    Pele     12  1958-1962-1966-1970      Brazil       4
...                   ...    ...                  ...         ...     ...
1290        Josip Skoblar      1                 1962  Yugoslavia       1
1291          Safet Susic      1            1982-1990  Yugoslavia       2
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia       1
1293  Djordje Vujadinovic      1                 1930  Yugoslavia       1
1294         Branko Zebec      1            1954-1958  Yugoslavia       2

[1250 rows x 5 columns]

In [12]:
len(df2[df2['LenCup'] == 4])

16

## Q6. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [13]:
len(df2[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)])

7

## Q7. 2002년도에 출전한 전체 선수는 몇명인가?

In [14]:
cnt = 0
for i in df2['Years'].str.split('-'):
    if '2002' in i:
        cnt += 1

In [15]:
cnt

156

## Q8. 이름에 'carlos' 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [16]:
len(df2[df2['Player'].str.lower().str.contains('carlos')])

13

## Q9. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [17]:
df2[df2['LenCup'] == 1].sort_values(by='Goals', ascending=False)['Player'].values[0]

'Just Fontaine'

## Q10. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [18]:
df2[df2['LenCup'] == 1].groupby('Country').size().sort_values(ascending=False).index[0]

'Brazil'