데이터 출처 :https://www.kaggle.com/unsdsn/world-happiness

(참고, 데이터 수정)

데이터 설명 : 전세계 행복도 지표 조사

data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv

출처 : 14주차 예상문제 (실기1유형 10문제) (이기적 스터디 카페 / 컴활,정보처리,빅분기) | 작성자 빅분기 실기조교

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')

In [2]:
df

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

## Q1.  데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [3]:
df[df['행복랭킹'] == 10]['점수'].mean()

7.259

## Q2. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [4]:
df[df['행복랭킹'] <= 50].groupby('년도')['점수'].mean().to_frame('행복점수평균')

       행복점수평균
년도
2018  6.64678
2019  6.67002

## Q3. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [5]:
Q3_df = df[df['년도'] == 2018]

In [6]:
Q3_df[['점수', '부패에 대한인식']].corr().values[1][0]

0.40529152271510027

## Q4. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [7]:
len(df[['나라명', '행복랭킹']]) - len(df[['나라명', '행복랭킹']].drop_duplicates())

15

## Q5. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라 컬럼명은 v1,v2,corr으로 표시하라

In [8]:
Q5_df = df[df['년도'] == 2019]
Q5_df = Q5_df.corr().unstack().sort_values(ascending=False).drop_duplicates()
Q5_df[(Q5_df != 1)].reset_index().rename(columns={'level_0':'v1', 'level_1':'v2', 0:'corr'}).head()

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1     점수  상대GDP  0.793883
2  행복기대치     점수  0.779883
3     점수  사회적지원  0.777058
4  상대GDP  사회적지원  0.754906

## Q6. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [9]:
df[df['년도'] == 2018]['점수'].sort_values()[:5].mean()

3.1799999999999997

In [10]:
df[df['년도'] == 2019]['점수'].sort_values()[:5].mean()

3.1407999999999996

## Q7.2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [11]:
Q7_df = df[df['년도'] == 2019]
mean_up = Q7_df[Q7_df['상대GDP'] >= Q7_df['상대GDP'].mean()]['점수'].mean()
mean_up

6.013204545454547

In [12]:
mean_down = Q7_df[Q7_df['상대GDP'] <= Q7_df['상대GDP'].mean()]['점수'].mean()
mean_down

4.6227205882352935

In [13]:
mean_up - mean_down

1.3904839572192538

## Q8.  각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [14]:
df[df['년도'] == 2018]['부패에 대한인식'].sort_values(ascending=False)[:20].mean()

0.3267000000000001

In [15]:
df[df['년도'] == 2019]['부패에 대한인식'].sort_values(ascending=False)[:20].mean()

0.3201

## Q9. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [16]:
len(set(df[(df['년도']==2018) & (df['행복랭킹'] <= 50)]['나라명']) - set(df[(df['년도']==2019) & (df['행복랭킹'] <= 50)]['나라명']))

4

## Q10. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [17]:
df_2018 = df[df['년도']==2018]
df_2019 = df[df['년도']==2019]

df_10 = pd.merge(df_2018, df_2019, on='나라명', how='inner')
df_10['행복점수 증가량'] = df_10['점수_y'] - df_10['점수_x']

print((df_10.sort_values(by='행복점수 증가량',ascending=False)).head(1))

     행복랭킹_x      나라명   점수_x  상대GDP_x  사회적지원_x  행복기대치_x  선택의 자유도_x  관대함_x  \
151     156  Burundi  2.905    0.091    0.627    0.145      0.065  0.149

     부패에 대한인식_x  년도_x  행복랭킹_y   점수_y  상대GDP_y  사회적지원_y  행복기대치_y  선택의 자유도_y  \
151       0.076  2018     145  3.775    0.046    0.447     0.38       0.22

     관대함_y  부패에 대한인식_y  년도_y  행복점수 증가량
151  0.176        0.18  2019      0.87